html,
body {
    overflow: hidden;
}


/* Wrapper */
#wrapper #content-wrapper {
    background-color: #f4f3ef;
}

#wrapper #content-wrapper #content {
    padding-top: 20px;
    overflow-y: auto;
    height: 10vh;
}

/* Sidebar */
.sidebar {
    border-right: 1px solid #ddd;
}
.sidebar.toggled .nav-item .nav-link{
    width: 100%;
}

.sidebar a {
    color: #858796;
}

.sidebar .nav-item a.active {
    background-color: #4e73df;
    color: #fff;
}

.sidebar li.nav-item:hover>a {
    background-color: #f4f3ef;
    color: #000;
}

/* Topbar */
.dropdown-item {
    padding: 0.5rem 1rem;
}