@font-face {
  font-family: Nunito;
  src: url('../font/Nunito-Regular.ttf') format('truetype');
}


/*  */
.label-control {
  position: relative;
  left: 10px;
  top: 10px;
  background: #fff;
  padding: 0px 5px;
  margin: 0;
  font-size: 0.8rem;
  border-radius: 2px;
}

.form-control,
.form-control:focus {
  color: #000;
}


.content-wrapper .content {
  padding: 80px 0px;
}

/* Menu */
.topbar .dropdown .dropdown-menu {
  width: auto;
}

.sadhanaPick .card-body {
  padding: 10px 20px;
}

.bottom-bar {
  background-color: #fff;
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

.bottom-bar a {
  display: block;
  padding: 5px;
  border-right: 1px solid;
}

.bottom-bar a.active {
  background-color: #4e73df;
  color: #fff;
}



.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader .overlay {
  display: block;
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.2;
}

.row.collapsed .fa-chevron-down:before {
  content: '\f054';
}

#divSadhana .card {
  width: 100%;
  height: 150px;
  border: 1px solid transparent;
  /* border-radius: 50%; */
}

.textholder {
  font-size: 18px;
}

#divSadhana .card-body {
  display: flex;
  align-items: center;
  justify-content: center;
}


#divSadhana .card.active {
  background-color: #1cc88a;
  color: #fff;
}

#divSadhana .card.active:after {
  content: '\2713';
  display: block;
  position: absolute;
  bottom: 0px;
  font-size: 35px;
  left: 150px;
}

.head-title {
  display: flex;
  align-items: center;
}

.saiimg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.btn_start {
  position: absolute;
  bottom: 0;
  margin: 10px;
  display: block;
  width: 95%;
}

.startTitle {
  position: absolute;
  margin: 10px;
}

.logo-brand {
  display: flex;
}

.img-logo {
  width: 50px;
}

.logo-title {
  margin-left: 10px;
}

.dropdown-item {
  padding: 0.6rem 1rem;
}

.btn_help {
  bottom: 65px;
}

.text-title {
  font-size: 50px;
  text-shadow: 5px 5px 10px #fff;
}

.help-img {
  width: 100%;
  padding: 20px 0px;
  border-bottom: 2px solid #000;
}